/* common style */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1320px;
    width: 82%;
    margin: 0 auto;
}

.button-red{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
    border: none;
}

/* header style */
.b1 {
    margin: 50px auto;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/banner\ image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
}

.happy {
    color: #FFF;
    padding-top: 177px;
    padding-left: 500px;
    padding-right: 500px;
    text-align: center;
    font-size: 32px;
}

.party {
    width: 632px;
    color: #FFF;
    padding-left: 344px;
    padding-right: 344px;
    padding-bottom: 177px;
    text-align: center;
    font-size: 72px;
}

/* 65% off */

.b2 {

    justify-content: center;
}

.parcent {
    color: #F00;
    padding-left: 608px;
    padding-right: 609px;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
}

.holiday {
    color: #F00;
    margin-top: 48px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.all {
    color: #070211;
    padding-left: 595px;
    padding-right: 595px;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.image {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 120px;
}

.vector {
    position: fixed;
    width: 803px;
    height: 500px;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* MID night party */

.b3 {
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.party {
    text-align: left;
}

.party h3 {
    width: 82%;
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    letter-spacing: 7.04px;
}

.party p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    line-height: 30px;
}

.join {
    /* color: #FFF; */
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.images {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    /* padding: 0.008px 0px 0px 0px; */
    padding-right: 138px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* place */

.banner {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    padding-top: 100px;
    color: #070211;
    width: 1320px;
    height: 482px;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.spn {
    color: #F00;
    text-align: center;
    font-size: 32px;
    line-height: 56px;
    text-transform: capitalize;
}

.btn {
    margin-left: 576px;
    /* margin-bottom: 110px; */
    align-items: center;
    font-size: 20px;
    text-align: center;
    border-radius: 8px;
    color: #FFF;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* photo */

.heading {
    color: #F00;
    padding-top: 100px;
    font-size: 24px;
    font-weight: 500;
}

.our {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.para {
    max-width: 735px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
}

.row1 {
    display: flex;
    border-radius: 16px;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 24px;
}

.row2 {
    display: flex;
    gap: 24px;
    margin-bottom: 120px;
}


/* subscribe style */

.sub {
     width: 1320px;
    height: 616px; 
    border-radius: 16px;
    /* background: rgba(255, 0, 0, 0.05); */
    background-color: rgba(255, 0, 0, 0.05);
}

email {
    width: 150px; 
    height: 150px; 
    flex-shrink: 0;
    padding-top: 80px;
    /* padding-left: 400px; */
    text-align: center;
    /* padding-bottom: 40px; */
}

.letter {
    color: #070211;
    text-align: center;
    font-size: 48px;
    text-transform: capitalize;
}

.sit {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

#newsletter{
    margin: 120px 0;
}

.newsletter-main{
    background-color: rgba(255, 0, 0, 0.05);
}